*{margin: 0;}

.header {
    background: black;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    
    height: 50%;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    background:black;
    color: white;
    padding: 8px;
    border: 0;
    margin-right: 100%;
}

.output {
        padding: 4px;
        border: 2px solid gray;
        min-height: 100px;
        width: 99%;
        resize: none;
        

}
#tools
{
         left: 55px;
}

#editor
{
    width: 75%;
    float: left;

}
.chatbox{
    width: 25%;
    float:left;
    background-color:whitesmoke;
    height: 400px;
}
.send_btn
{
    float: left;
}

